.products {
  display: flex;
  flex-direction: column;
  width: 230px;
  margin-top: 0;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
}
.price {
  background-color: rgb(86, 86, 252);
  padding: 15px;
  color: white;
}
h2 {
  background-color: rgb(86, 86, 252);
  padding: 15px;
  color: white;
}
